{% extends 'user_app/base.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script defer src="{% static 'js/login.js'%}"></script>
{% endblock %}

{% block body_block %}
<div class="row">
  <div class="login-form-container">
      <h2 id="heading">Login Your Account!</h2>
      <form method="POST" action="{% url 'user_app:user_login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        
        <label for="user_type">Login as:</label>
        <select name="user_type" id="user_type" required>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
        
        <button type="submit">Login</button>
    </form>
  </div>
</div>

{% endblock %}