{% extends 'user_app/base.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script defer src="{% static 'js/login.js'%}"></script>
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="login-form-container">
      <h2 id="heading">Login Your Account!</h2>
          <form action="{% url 'user_app:user_login' %}" method="POST" id="signup-form">
              {% csrf_token %}
              <label for="username">Username</label>
              <input type="text" id="username" name="username" placeholder="Enter your username" required>
  
              <label for = "password">Password</label>
              <input type="password" name="password">
              
        <button type="submit" class="button">Login</button>
        <p>Don't have an account? <a href="{% url 'user_app:register'%}">Sign up here</a>.</p>
      </form>
    </div>
  </div>

{% endblock %}