{% extends 'dashboard_app/base_dashboard_student.html' %}
{% load embed_video_tags %}
{% block body_block %}
<!-- Post title -->
    <h1 class="post-title">{{ post.title }}</h1>

    <!-- Video -->
    {% if post.video %}
        <p>Video URL: {{ post.video }}</p>
        <!-- Menampilkan video -->
        {% video post.video 'large' %}
    {% else %}
        <p>No video found for this post.</p>
    {% endif %}

    <!-- Post published date or publish button -->
    {% if post.published_date %}
        <div class="date post-date">{{ post.published_date }}</div>
    {% else %}
        <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}

    <!-- Post content -->
    <p class="post-content">{{post.text | safe | linebreaksbr }}</p>
{% endblock %}